<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Creación</th>
        <th class="d-none d-sm-block" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info" *ngFor="let item of notas$ | async">
        <th scope="row">{{ item.name }} {{ item.lastname }}</th>
        <td>{{ item.email }}</td>
        <td>
          <span>{{ item.createDate }}</span>
        </td>
        <td class="btn-group d-none d-sm-block" role="group">
          <button
            type="button"
            class="btn btn-outline-warning m-1"
            (click)="onGoToEdit(item)"
          >
            Editar
          </button>
          <button
            type="button"
            class="btn btn-outline-warning m-1"
            (click)="onGoToDetails(item)"
          >
            Detalles
          </button>
          <button
            type="button"
            class="btn btn-outline-danger m-1"
            (click)="onGoToDelete(item.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
