<div class="card mt2">
  <div class="card-header">Detalles de la nota</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Nombre:
        <h5>{{ nota.name }} {{ nota.lastname }}</h5>
      </li>
      <li class="list-group-item">
        Email:
        <h5>{{ nota.email }}</h5>
      </li>
      <li class="list-group-item">
        Fecha de reación:
        <h5>{{ nota.createDate }}</h5>
      </li>
      <li class="list-group-item">
        Nota:
        <h6>
          {{ nota.note }}
        </h6>
      </li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-outline-warning m-1 btn-sm"
      (click)="onGoToEdit()"
    >
      Editar
    </button>
    <button
      type="button"
      class="btn btn-outline-danger m-1 btn-sm"
      (click)="onDelete()"
    >
      Eliminar
    </button>
  </div>
</div>
<button type="button" class="btn btn-secondary mt-2" (click)="onGoToList()">
  Regresar
</button>
